{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
<a href="{% url 'admin_profile' %}">Profile</a> /
<form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
</form>
{% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password change' %}
</div>
{% endblock %}

{% block content %}
<div class="admin-subtitle-row">
    <h2>{% translate 'Your password was changed.' %}</h2>
    <a href="{% url 'admin_profile' %}" class="admin-back-link">Back to Profile</a>
</div>
{% endblock %}
